@import 'tailwindcss';

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-plata-50: #fafafa;
  --color-plata-100: #f5f5f5;
  --color-plata-200: #e6e6e6;
  --color-plata-300: #d3d3d3;
  --color-plata-400: #adadad;  /* Color Base Gris */
  --color-plata-500: #727272; 
  --color-plata-600: #535353;
  --color-plata-700: #404040;
  --color-plata-800: #272727;
  --color-plata-900: #1a1a1a;
  --color-plata-950: #0b0b0b;
  --color-azul-50: #eff9ff;
  --color-azul-100: #dff4ff;
  --color-azul-200: #b8eaff;
  --color-azul-300: #78daff;
  --color-azul-400: #2cc9ff;  /* Color Base Azul */
  --color-azul-500: #06b4f1;
  --color-azul-600: #0093ce;
  --color-azul-700: #0074a7;
  --color-azul-800: #02618a;
  --color-azul-900: #085172;
  --color-azul-950: #06334b;
  --font-aeonik: "Aeonik", sans-serif;
}

@layer components {

  select,
  ::picker(select) {
    appearance: base-select;
  }

  select::picker-icon {
    display: flex;
    align-items: center;
  }

  select selectedcontent {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}